[Desktop Entry]
Version=1.0
Name=Prock
GenericName=Process Explorer
Comment=Process Explorer for Linux
Exec=prock
Path=
Icon=/home/yash/Desktop/gith/prock/prock.png
Terminal=false
Type=Application
Categories=Utility
