[Desktop Entry]
Version=1.0
Name=Prock
GenericName=Process Explorer
Comment=Process Explorer for Linux
Exec=prock
Path=
Icon=cpu-x
Terminal=false
Type=Application
Categories=Utility
